.absoluteCentralizeContent{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.horizontalCentralizeContentMainPage{
    width: 50%;
    margin: 0 auto;
}

.horizontalCentralizeContentProfile{
    width: 35%;
    margin: 0 auto;
}

.buttons{
    float: right;
}