.absoluteCentralizeContent{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.horizontalCentralizeContentMainPage{
    width: 50%;
    margin: 0 auto;
}

.horizontalCentralizeContentProfile{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.buttons{
    float: right;
    margin: 0px 0px 0px 5px;
}

img{
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.img-group{
    margin-bottom: 40px;
}

label{
    margin: 0 auto;
    width: 50%;
}